.player-card{
    display: inline-block;
    border: 1px solid black;
    font-size: 10px;
    color: black;
}

.player-card > img{
    width: 150px;
    height: 150px;
}

.remove{
    text-align: center;
}

.add{
    text-align: center;
}

.remove > button{
    text-align: center;
    background-color: lightcoral;
}

.add > button{
    background-color: lightgreen;
}

.container-fluid{
    background-image:url('http://wallpapercave.com/wp/bzXqLiM.jpg');
    width: 100%;
    height: 100%;
}

.panel{
    background-color: rgba(0,0,0,0.15);
}